@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


* {
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    /* position: fixed; */
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 0.5rem 1rem;
    top: 0;
    /* z-index: 10; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .toggle-button{
    display: none;
}
.main-header a img{
    height: 2rem;
    width: 2rem;
}

.main-nav__items {
    margin: 0 1rem;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}
.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #1cbc74;
    font-weight: bold;
    padding: 0.2rem 0;
}

main {
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}

.side-nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
}



.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background-color: #ccc;
    color: #a1a1a1;
}

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

@media (min-width: 40rem) {
    .main-footer__link {
        margin: 0 1rem;
    }
    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }
}


.side-nav {
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 0.5rem 1rem;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
    transform: translateX(-100%);
    transition: opacity 300s ease-out, transform 500ms;
  }
  
  .mobile-nav__items, .side-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-nav__item, .side-nav__items {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


  .open {
      display: block !important;
      opacity: 1 !important;
      transform: translateY(0) !important;
  }


  @keyframes wiggle {
      from {
        transform: rotateZ(-10deg);
      }
      to {
        transform: rotateZ(10deg);
      }
  }